.container
  #header-main
    .row
      .col-md-2#header-left
        felp
      .col-md-8#header-center
        .row#search-bar
          %form
            .form-group.col-md-5
              .input-group
                .input-group-addon Find
                %input.form-control.input-sm(type="text" placeholder="golf, movies, food")
            .form-group.col-md-5
              .input-group
                .input-group-addon Near
                %input.form-control.input-sm(type="text" placeholder="Birmingham, AL")
            .form-group.col-md-2
              %button.btn.btn-sm#search-icon(type="search")
                .glyphicon.glyphicon-search
        .row#navigation
          %ul.list-inline.col-md-12
            %li
              = link_to "Home"
            %li
              = link_to "Business Catelog"
            %li
              = link_to "Write a Review"
            %li
              = link_to "About Me"
      .col-md-2#header-right
        %ul
          %li
            %button.btn.btn-sm(type="submit") Sign Up
          %li
            %a(href="") Log In
