.container
  .h3.col-md-offset-2 Add Business
  %br
  .well.col-md-8.col-md-offset-2
    %form
      .row
        .col-md-5
          .form-group
            %label Business Name
            %input.form-control{:placeholder => "Business"}
          .form-group
            %label Location
            %input.form-control{:placeholder => "Location"}
          .form-group
            %label Thumbnail
            %input{:type => "file"}
            %p.help-block Upload a .jpg image.
        .col-md-7
          .form-group
            %label Description
            %textarea.form-control{:placeholder => "Description", :rows => 4}
      .row.col-md-6
        .form-group
          %button.btn.btn-default Add Business
