.container
  .col-md-8#recent-reviews
    .row.well.col-md-12.text-center#account-creator
      %h4 Yelp is the best way to find great local businesses
      %p People use Yelp to search for everything from the city's tastiest burger to the most renowned cardiologist. What will you uncover in your neighborhood?
      %br
      %a.btn.btn-danger.btn{:href => "#", :role => "button"} Create Your Free Account
    %h3 Recent Reviews
    %br
    .row.well.col-md-12
      .row
        .col-md-2
          %img.img-responsive(src="/tmp/Food1.jpg")
        .col-md-5
          .text-left
            1.
            %strong Harry's Diner
          .text-left
            .glyphicon.glyphicon-star{:aria_hidden => "true"}
            .glyphicon.glyphicon-star{:aria_hidden => "true"}
            .glyphicon.glyphicon-star{:aria_hidden => "true"}
            .glyphicon.glyphicon-star{:aria_hidden => "true"}
            .glyphicon.glyphicon-star{:aria_hidden => "true"}
          .text-left 
            Review by 
            %a(href="") Joe Fowler
        .col-md-5
          .text-right
            2 Days Ago
      .row.col-md-offset-2 
        %p.text-left This place has amazing food
    .row.well.col-md-12
      .row
        .col-md-2
          %img.img-responsive(src="/tmp/golf_course1.jpg")
        .col-md-5
          .text-left
            2.
            %strong The Grove Golf Course
          .text-left
            .glyphicon.glyphicon-star{:aria_hidden => "true"}
            .glyphicon.glyphicon-star{:aria_hidden => "true"}
            .glyphicon.glyphicon-star{:aria_hidden => "true"}
            .glyphicon.glyphicon-star{:aria_hidden => "true"}
            .glyphicon.glyphicon-star{:aria_hidden => "true"}
          .text-left 
            Review by 
            %a(href="") Joe Fowler
        .col-md-5
          .text-right
            2 Days Ago
      %p.col-md-offset-2.text-justify Great Golf Course
    .row.well.col-md-12   
      .row
        .col-md-2
          %img.img-responsive(src="/tmp/movie1.jpg")
        .col-md-5
          .text-left
            3.
            %strong MoviePlex
          .text-left
            .glyphicon.glyphicon-star{:aria_hidden => "true"}
            .glyphicon.glyphicon-star{:aria_hidden => "true"}
            .glyphicon.glyphicon-star{:aria_hidden => "true"}
            .glyphicon.glyphicon-star{:aria_hidden => "true"}
            .glyphicon.glyphicon-star{:aria_hidden => "true"}
          .text-left 
            Review by 
            %a(href="") Joe Fowler
        .col-md-5
          .text-right
            2 Days Ago
      %p.col-md-offset-2.text-justify Clean Facilities
    .row.well.col-md-12
      .row
        .col-md-2
          %img.img-responsive(src="/tmp/Food1.jpg")
        .col-md-5
          .text-left
            1.
            %strong Harry's Diner
          .text-left
            .glyphicon.glyphicon-star{:aria_hidden => "true"}
            .glyphicon.glyphicon-star{:aria_hidden => "true"}
            .glyphicon.glyphicon-star{:aria_hidden => "true"}
            .glyphicon.glyphicon-star{:aria_hidden => "true"}
            .glyphicon.glyphicon-star{:aria_hidden => "true"}
          .text-left 
            Review by 
            %a(href="") Joe Fowler
        .col-md-5
          .text-right
            2 Days Ago
      .row.col-md-offset-2 
        %p.text-left This place has amazing food
    .row.well.col-md-12
      .row
        .col-md-2
          %img.img-responsive(src="/tmp/golf_course1.jpg")
        .col-md-5
          .text-left
            2.
            %strong The Grove Golf Course
          .text-left
            .glyphicon.glyphicon-star{:aria_hidden => "true"}
            .glyphicon.glyphicon-star{:aria_hidden => "true"}
            .glyphicon.glyphicon-star{:aria_hidden => "true"}
            .glyphicon.glyphicon-star{:aria_hidden => "true"}
            .glyphicon.glyphicon-star{:aria_hidden => "true"}
          .text-left 
            Review by 
            %a(href="") Joe Fowler
        .col-md-5
          .text-right
            2 Days Ago
      %p.col-md-offset-2.text-justify Great Golf Course
    .row.well.col-md-12   
      .row
        .col-md-2
          %img.img-responsive(src="/tmp/movie1.jpg")
        .col-md-5
          .text-left
            3.
            %strong MoviePlex
          .text-left
            .glyphicon.glyphicon-star{:aria_hidden => "true"}
            .glyphicon.glyphicon-star{:aria_hidden => "true"}
            .glyphicon.glyphicon-star{:aria_hidden => "true"}
            .glyphicon.glyphicon-star{:aria_hidden => "true"}
            .glyphicon.glyphicon-star{:aria_hidden => "true"}
          .text-left 
            Review by 
            %a(href="") Joe Fowler
        .col-md-5
          .text-right
            2 Days Ago
      %p.col-md-offset-2.text-justify Clean Facilities
  .col-md-4#top-businesses
    %h3.text-center Top Rated Businesses
    %br
    %br
    .well
      .row
        .col-md-6
          %a.h4(href="") Harry's Diner
          .div
            %span.glyphicon.glyphicon-star{:aria_hidden => "true"}
            %span.glyphicon.glyphicon-star{:aria_hidden => "true"}
            %span.glyphicon.glyphicon-star{:aria_hidden => "true"}
            %span.glyphicon.glyphicon-star{:aria_hidden => "true"}
            %span.glyphicon.glyphicon-star{:aria_hidden => "true"}
        .col-md-5
          %img.img-responsive(src="/tmp/Food1.jpg")
      %hr
      .row
        .col-md-6
          %a.h4(href="") Harry's Diner
          .div
            %span.glyphicon.glyphicon-star{:aria_hidden => "true"}
            %span.glyphicon.glyphicon-star{:aria_hidden => "true"}
            %span.glyphicon.glyphicon-star{:aria_hidden => "true"}
            %span.glyphicon.glyphicon-star{:aria_hidden => "true"}
            %span.glyphicon.glyphicon-star{:aria_hidden => "true"}
        .col-md-5
          %img.img-responsive(src="/tmp/Food1.jpg")
      %hr
      .row
        .col-md-6
          %a.h4(href="") Harry's Diner
          .div
            %span.glyphicon.glyphicon-star{:aria_hidden => "true"}
            %span.glyphicon.glyphicon-star{:aria_hidden => "true"}
            %span.glyphicon.glyphicon-star{:aria_hidden => "true"}
            %span.glyphicon.glyphicon-star{:aria_hidden => "true"}
            %span.glyphicon.glyphicon-star{:aria_hidden => "true"}
        .col-md-5
          %img.img-responsive(src="/tmp/Food1.jpg")
      %hr
      .row
        .col-md-6
          %a.h4(href="") Harry's Diner
          .div
            %span.glyphicon.glyphicon-star{:aria_hidden => "true"}
            %span.glyphicon.glyphicon-star{:aria_hidden => "true"}
            %span.glyphicon.glyphicon-star{:aria_hidden => "true"}
            %span.glyphicon.glyphicon-star{:aria_hidden => "true"}
            %span.glyphicon.glyphicon-star{:aria_hidden => "true"}
        .col-md-5
          %img.img-responsive(src="/tmp/Food1.jpg")
      %hr
      .row
        .col-md-6
          %a.h4(href="") Harry's Diner
          .div
            %span.glyphicon.glyphicon-star{:aria_hidden => "true"}
            %span.glyphicon.glyphicon-star{:aria_hidden => "true"}
            %span.glyphicon.glyphicon-star{:aria_hidden => "true"}
            %span.glyphicon.glyphicon-star{:aria_hidden => "true"}
            %span.glyphicon.glyphicon-star{:aria_hidden => "true"}
        .col-md-5
          %img.img-responsive(src="/tmp/Food1.jpg")