.row
  .col-md-4.well.well-sm
    .btn-group-vertical{"aria-label" => "...", :role => "group"}
      %button.btn.btn-default{:type => "button"} Left
      %button.btn.btn-default{:type => "button"} Middle
      %button.btn.btn-default{:type => "button"} Right
  .col-md-4.well.well-sm
    .btn-group-vertical{"aria-label" => "...", :role => "group"}
      %button.btn.btn-default{:type => "button"} Left
      %button.btn.btn-default{:type => "button"} Middle
      %button.btn.btn-default{:type => "button"} Right
  .col-md-4.well.well-sm
    .btn-group-vertical{"aria-label" => "...", :role => "group"}
      %button.btn.btn-default{:type => "button"} Left
      %button.btn.btn-default{:type => "button"} Middle
      %button.btn.btn-default{:type => "button"} Right     