.container  
  .h3 Search Results
  %br
  %br
  .row.well.col-md-10.col-md-offset-1
    .col-md-2
      %a.h4(href="") Harry's Diner
      .div
        %span.glyphicon.glyphicon-star{:aria_hidden => "true"}
        %span.glyphicon.glyphicon-star{:aria_hidden => "true"}
        %span.glyphicon.glyphicon-star{:aria_hidden => "true"}
        %span.glyphicon.glyphicon-star{:aria_hidden => "true"}
        %span.glyphicon.glyphicon-star{:aria_hidden => "true"}
    .col-md-1
      %img.img-responsive(src="/tmp/Food1.jpg")
    .col-md-9
      %p Pop-up chartreuse four loko, 8-bit kickstarter direct trade tattooed chia XOXO put a bird on it. Post-ironic fap kitsch truffaut you probably haven't heard of them hashtag.
  .row.well.col-md-10.col-md-offset-1
    .col-md-2
      %a.h4(href="") Harry's Diner
      .div
        %span.glyphicon.glyphicon-star{:aria_hidden => "true"}
        %span.glyphicon.glyphicon-star{:aria_hidden => "true"}
        %span.glyphicon.glyphicon-star{:aria_hidden => "true"}
        %span.glyphicon.glyphicon-star{:aria_hidden => "true"}
        %span.glyphicon.glyphicon-star{:aria_hidden => "true"}
    .col-md-1
      %img.img-responsive(src="/tmp/Food1.jpg")
    .col-md-9
      %p Pop-up chartreuse four loko, 8-bit kickstarter direct trade tattooed chia XOXO put a bird on it. Post-ironic fap kitsch truffaut you probably haven't heard of them hashtag.
  .row.well.col-md-10.col-md-offset-1
    .col-md-2
      %a.h4(href="") Harry's Diner
      .div
        %span.glyphicon.glyphicon-star{:aria_hidden => "true"}
        %span.glyphicon.glyphicon-star{:aria_hidden => "true"}
        %span.glyphicon.glyphicon-star{:aria_hidden => "true"}
        %span.glyphicon.glyphicon-star{:aria_hidden => "true"}
        %span.glyphicon.glyphicon-star{:aria_hidden => "true"}
    .col-md-1
      %img.img-responsive(src="/tmp/Food1.jpg")
    .col-md-9
      %p Pop-up chartreuse four loko, 8-bit kickstarter direct trade tattooed chia XOXO put a bird on it. Post-ironic fap kitsch truffaut you probably haven't heard of them hashtag.
  .row.well.col-md-10.col-md-offset-1
    .col-md-2
      %a.h4(href="") Harry's Diner
      .div
        %span.glyphicon.glyphicon-star{:aria_hidden => "true"}
        %span.glyphicon.glyphicon-star{:aria_hidden => "true"}
        %span.glyphicon.glyphicon-star{:aria_hidden => "true"}
        %span.glyphicon.glyphicon-star{:aria_hidden => "true"}
        %span.glyphicon.glyphicon-star{:aria_hidden => "true"}
    .col-md-1
      %img.img-responsive(src="/tmp/Food1.jpg")
    .col-md-9
      %p Pop-up chartreuse four loko, 8-bit kickstarter direct trade tattooed chia XOXO put a bird on it. Post-ironic fap kitsch truffaut you probably haven't heard of them hashtag.