header {
  background: repeating-linear-gradient( 
    to left top,
    $main-red, 
    $dark-red); 
    /*repeating-linear-gradient(
    45deg,
    $main-red,
    $main-red 10px,
    darken($main-red, 2%) 10px,
    darken($main-red, 1%) 20px*/

  border-bottom: 1px solid $dark-red;
  -webkit-box-shadow: 0 0px 5px 0px $dark-gray;
}

#main-body {
  .container {
    min-height: 892px;
    height: 100%;
    margin-top: 2px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #FFFFFF;
    border-left: 1px solid $medium-gray;
    border-right: 1px solid $medium-gray;
  }
}

ul {
  list-style: none;
}

#main-body {
  background-color: $light-gray;
}

html, body {
  height: 100%;
}